
html{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #FEFEF9;
	font-family: 'Roboto Condensed', sans-serif;
	color: #10375d;
	font-size: 1em;
}
header{
   /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
   flex: 0 0 auto;
}
.main-content{
   /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
   flex: 1 0 auto;
}
footer{
   /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
   flex: 0 0 auto;
	background-color: #D0D6DA;
	min-height: 50px;
	align-items: center;
	display: flex;
}
footer .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.selector-for-some-widget {
	box-sizing: content-box;
}
.main-content {
	margin: 50px 0;
}
.container {
	display: flex;
}
.sidebar-col {
	flex: 0 0 400px;
}
.content-col {
	flex: 1 1 auto;
}

/* HEADER */


/* SIDEBAR */
.sidebar {
	border: 5px solid #10375D;
}
.sidebar__box {
	padding: 0 35px 40px 35px;
}
h1.title__name {
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
}
h4.title__position {
	font-size: 16px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #07637A;
}
.sidebar__line {
	width: 100%;
	height: 3px;
	background-color: #10375D;
	margin: 20px 0;
}
.info__box {
	margin: 50px 0;
}
.info__title h5{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	padding: 0 0 10px 0;
}
.info__text {
	color: #07637A;
}


/* CONTENT */
.content {
	margin: 0 20px;
}
.content__box:not(:first-child) {
	margin: 40px 0;
}
.box-content__title {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	background: #D0D6DA;
	padding: 10px 20px;

}
.box-content__block {
	padding: 20px 5px;
}
.block-content__title {
	font-size: 16px;
	color: #07637A;
	text-transform: uppercase;
	font-weight: 700;
}
.block-content__position {
	display: flex;
	font-size: 14px;
	font-weight: 600;
	color: #07637A;
	letter-spacing: 0.1em;
	padding: 10px 0;
}
.position__title {
}
.position__title::after {
	content: '|';
	padding: 0 15px;
}
.block-content__list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.block-content__list ul li::before {
	content: '-';
	padding: 0 5px;
}